__pycache__/
*.py[cod]
*.pth
*.pt
generated_images/
generated_images_10k/
generated_images_10k_noema_test/
generated_images_10k_gs2_test/
generated_images_10k_gs3_test/
generated_images_10k_samplerfix_noema_test/
generated_images_100k_35000/
generated_images_100k_35000_raw_gs3_test/
checkpoints/
runs/
scores.json
